<% if @message.errors.any? %>
  <ul>
  <%= @message.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for @message do |f| %>
  <%= f.label :to %>
  <%= f.collection_check_boxes(:to, Contact.all, :phone, :name, multiple: true) %>
  <%= f.label :from %>
  <%= f.text_field :from, value: "3237391269" %>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>



